@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MrFish</title>
    <link rel="shortcut icon" href="~/Content/images/MrFishLogo.png" />
    @Styles.Render("~/dekko/css")
    @Scripts.Render("~/layout/js")
    @Scripts.Render("~/dekko/js")
    @Scripts.Render("~/bundle/js")
</head>
<body class="bg-login"
    @*Fix form login*@
    <div class="container-fluid">
        <div class=" col-md-4 col-sm-8 col-10 offset-md-4 offset-sm-2 offset-1 radius-form bg-white mb-5 " style="background: radial-gradient(circle, var(--indigo) 0%, rgb(232 62 140 / 32%) 100%); border-radius: 25px;">
            @*Ảnh logo*@
            <div class="row mt-5">
                <img class="col-md-12 col-sm-12 col-12" src="~/Content/images/MrFishLogo.png" />
                @*<div class="col-md-10 col-sm-10 col-10 offset-md-1 offset-sm-1 offset-1 text-center mt-3 mb-5">
            <img class="col-md-12 col-sm-12 col-12" src="~/Content/images/MrFishLogo.png" />
        </div>*@
            </div>
            @*Tài khoản*@
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12 mt-2 text-dark">
                    <input type="text" class="form-control inputLogin" style="border-radius:30px" id="txtUsernameLogin" placeholder="Tài khoản" name="" />
                    <i class="fa fa-user absolute-icon-calendar"></i>
                </div>
            </div>
            @*Mật khẩu*@
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12 mt-2 mb-2 text-dark">
                    <input type="password" class="form-control inputLogin" style="border-radius:30px" placeholder="Mật khẩu" id="txtPasswordLogin" />
                    <i class="fa fa-unlock absolute-icon-calendar "></i>
                </div>
            </div>
            @*Nút đăng nhập*@
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12 mt-5 mb-5">
                    <button class="btn btn-block btnLogin" id="btnLogin" onclick="Login()">Đăng nhập</button>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>

<script>

    $(document).ready(function () {

        $("#txtUsernameLogin").focus();

        $('.inputLogin').keypress(function (e) {
            var key = e.which;
            if (key == 13) {
                $("#btnLogin").click();
            }
        });

    });

</script>